# Dependencies
node_modules/
.pnp
.pnp.js

# Expo
.expo/
dist/
web-build/
expo-env.d.ts

# Native builds & artifacts
.kotlin/
*.orig.*
*.jks
*.p8
*.p12
*.key
*.keystore
*.mobileprovision
/ios/
/android/

# Metro & Bundler
.metro-health-check*

# Logs & debug
npm-debug.*
yarn-debug.*
yarn-error.*
*.log

# Environment variables & secrets
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
.env*.local

# TypeScript
*.tsbuildinfo

# Operating System Files
.DS_Store
*.pem
Thumbs.db
Thumbs.db:encryptable
ehthumbs.db
ehthumbs_vista.db
[Dd]esktop.ini
$RECYCLE.BIN/

# Editor directories
.vscode/
.idea/
*.swp
*.swo
